/*=======================================================================
1. Variables 
========================================================================*/
:root {
    --font_family_body: "Roboto", sans-serif;
    --font_family_heading: "Jost", sans-serif;
    --color_primary: #0071dc;
    --color_secondary: #f7bc20;
    --color_text_body: #6b6b6b;
    --color_hover_light: #cacaca;
    --color_text_heading: #161616;
    --facebook: #3b5998;
    --twitter: #00acee;
    --instagram: #3f729b;
    --pinterest: #3b5998;
    --youtube: #c4302b;
    --skype: #00aff0;
    --tumblr: #001835;
    --linkedin: #0077b5;
    --transition: 0.3s ease-in-out;
    --color_1: #f013a5;
    --color_2: #7013f0;
    --color_3: #17d292;
    --color_4: #f70644;
    --color_5: #f8af12;
}

/* 
===========================
Course Widget
===========================
*/

/* Course Widget Start */

.card_front_face{
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 8%);
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    height: 100%;
}

.course_category .category_name{
    font-family: var(--font_family_heading);
    padding: 5px 25px;
    display: inline-block;
    color: #585858;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 500;
}
.course_category .category_name::before{
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -10px;
    height: 2px;
    width: 0;
    background-color: var(--color_primary);
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.archive .course_block .course_grid, .archive .course_block .course_archive_style_1{
    padding-top: 0;
}

.course_grid .card, .course_archive_style_1 .card{
    border: unset !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 6px 0px #cacaca;
    height: 500px;
}

.course_archive_style_4 .card{
    border: unset !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 6px 0px #cacaca;
    height: unset !important;
}
.course_grid img.course_thumbnail_image, .course_archive_style_1 img.course_thumbnail_image {
    padding: 1.25rem;
}

.course_grid .card .card-title, .course_archive_style_1 .card .card-title{
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 24px;
    line-height: 1.4;
}

.course_grid .card .course_category::before, .course_archive_style_1 .card .course_category::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    font-size: 30px;
    line-height: 1.2;
}

.course_grid .card .course_category, .course_archive_style_1 .card .course_category{
    text-transform: uppercase;
    position: relative;
    padding-left: 10px;
    margin-bottom: 5px;
    font-family: var(--font_family_heading);
    font-weight: 500;
    font-size: 15px;
}

.course_grid .course_category.category_color_1, .course_archive_style_1 .course_category.category_color_1{
    color: var(--color_1);
}
.course_grid .course_category.category_color_2, .course_archive_style_1 .course_category.category_color_2{
    color: var(--color_2);
}
.course_grid .course_category.category_color_3, .course_archive_style_1 .course_category.category_color_3{
    color: var(--color_3);
}
.course_grid .course_category.category_color_4, .course_archive_style_1 .course_category.category_color_4{
    color: var(--color_4);
}
.course_grid .course_category.category_color_5, .course_archive_style_1 .course_category.category_color_5{
    color: var(--color_5);
}

.course_grid .course_category.category_color_1::before, .course_archive_style_1 .course_category.category_color_1::before{
    background-color: var(--color_1);
}
.course_grid .course_category.category_color_2::before, .course_archive_style_1 .course_category.category_color_2::before{
    background-color: var(--color_2);
}
.course_grid .course_category.category_color_3::before, .course_archive_style_1 .course_category.category_color_3::before{
    background-color: var(--color_3);
}
.course_grid .course_category.category_color_4::before, .course_archive_style_1 .course_category.category_color_4::before{
    background-color: var(--color_4);
}
.course_grid .course_category.category_color_5::before, .course_archive_style_1 .course_category.category_color_5::before{
    background-color: var(--color_5);
}

.course_grid .course-fee, .course_archive_style_1 .course-fee {
    color: #161616;
    font-size: 20px;
    font-family: var(--font_family_heading);
    font-weight: 600;
}

hr{
    border-top: 1px solid rgb(189, 189, 189) !important;
}

.single_course_footer{
    padding: 20px 0;
}

.course_archive_style_1 .single_course_footer{
    padding: 0;
}

.course_category{
    margin-top: 5px;
    border-bottom: solid 1px gainsboro;
}

.course_lesson_details .inline-list, .card_backend .course_back_face.course-feature {
    padding-bottom: 1.25rem;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 15px;
}

.course_lesson_details .inline-list li{
    margin-right: 30px;
}

.instructor_name{
    letter-spacing: 1px;
    color: #0071dc;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 18px;
}
.instructor_name.text-warning{
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 18px;
}

/* Course back face */
.card_backend{
    background-color: var(--color_primary);
    position: absolute;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    bottom: 100%;
    height: 0;
}

.card_backend, .card_backend .course_back_face, .card_backend .course_back_face .instructor_name{
    color: #fff;
}

.card_backend .course_back_face.course-feature li{
    margin-right: 20px;
    color: #ffffff;
}

.card_backend .course_details{
    display: inline-block;
    background-color: #ffffff;
    color: var(--color_primary);
    padding: 7px 25px;
    border-radius: 5px;
    font-family: var(--font_family_heading);
    font-size: 16px;
    border: 1px solid #ffffff;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.card_backend .back_course_fee{
    font-size: 20px;
    font-family: var(--font_family_heading);
    font-weight: 600;
    text-align: right;
}


.course_grid .card:hover .card_backend, .course_archive_style_1 .card:hover .card_backend {
    height: 100%;
    bottom: 0;
}

.active {
    color: #0071dc !important;
}

.active::after {
    content: "";
    background-color: #0071dc;
    width: 100%;
    height: 2px;
    display: block;
}

.additional-info {
    border: dashed 2px #909090;
}

.card.additional-info .title {
    justify-content: center;
    padding: 30px;
}

.additional-info button {
    font-size: 20px;
    margin: 0 35px;
}

.all_course_button{
    border-radius: 5px;
}

/* Course Widget End */


/*
============================
Course Category Widget
============================
*/


.category-box{
    padding: 55px 35px 47px;
    background-color: #ffffff;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 2%);
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.category-box:before {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    position: absolute;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--color_primary);
    top: -1px;
    left: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}


.category-box:after {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-30px) translateX(30px);
    -ms-transform: translateY(-30px) translateX(30px);
    transform: translateY(-30px) translateX(30px);
    position: absolute;
    z-index: -1;
    content: url(../media/element11.png);
    top: 0;
    right: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}
.category-box .icon-box {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}

.category-box .icon-box .default {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}

.category-box .icon-box .hover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}

.category-box .content-box .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.category-box .content-box .title a {
    color: var(--color_text_heading);
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}

.category-box .content-box .sub-title {
    margin-bottom: 0;
    color: #585858;
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}

.category-box:hover:before {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    top: 0;
}

.category-box:hover .icon-box .default {
    opacity: 0;
    visibility: hidden;
}

.category-box:hover .icon-box .hover {
    opacity: 1;
    visibility: visible;
}

.category-box:hover .content-box .title a {
    color: #ffffff;
}

.category-box:hover .content-box .sub-title {
    color: #ffffff;
}

.category-box:after {
    -webkit-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

/* Course Category Widget end */


/*
============================
Course Instructor Widget
============================
*/

/* Course Instructor Start */

.instructor_column {
    padding: 15px;
    width: 100%;
}

.instructor_column img {
    width: 100%;
    height: 100%;
    border-radius: 15px !important;
}

.instructor_column.first {
    padding: 30px 15px;
    border-radius: 30px !important;
    width: 100%;
}

.instructor_column.first, .instructor_column.rest_description_block {
    position: relative;
}

.rest_description_block .description_box {
    position: absolute;
    bottom: 22px;
    background-color: white;
    text-align: center;
    padding: 20px 30px;
    border-radius: 0 0 15px 15px;
    width: 84%;
    margin: 0px 3%;
    z-index: 2;
}

.third-block.rest_description_block .description_box{
    margin: 0px 4%;
    bottom: 30px;
}

.first .description_box {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: white;
    text-align: center;
    padding: 20px 30px;
    border-radius: 0 0 30px 0;
    z-index: 2;
}

.course_instructor_section .author-title{
    margin-bottom: 5px;
}

.description_box::before {
    content: "";
    background-color: var(--color_primary);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 15px 15px;
    z-index: -1;
}

.row_block:hover .description_box::before {
    opacity: 1;
    visibility: visible;
    border-radius: 0 0 15px 15px;
    top: 0;
    left: 0;
}

.first .description_box::before{
    border-radius: 0 0 15px 0;
}

.first:hover .description_box::before {
    border-radius: 0 0 15px 0;
}

.row_block:hover .author-title a, .row_block:hover .author-designation {
    color: #ffffff;
}

.row_block img {
    height: 100% !important;
}

@media (max-width: 576px) { 
    .rest_description_block .description_box{
        width: 86%;
    }

    .third-block.rest_description_block .description_box{
        width: 84.5%;
    }
    .first .description_box {
        width: 86%;
        margin: 0 7%;
        right: 0;
        border-radius: 0 0 15px 15px;
        bottom: 40px;
    }
}

@media (min-width: 577px) and (max-width: 993px) { 
    .rest_description_block .description_box{
        width: 90%;
        bottom: 33px;
    }

    .third-block.rest_description_block .description_box {
        margin: 0px 3%;
        bottom: 33px;
    }

    .first .description_box {
        width: 90%;
        right: 36px;
        border-radius: 0 0 15px 15px;
        bottom: 50px;
    }
 }


/* Course Instructor End */


/* 
===========================
News And Blog Widget
===========================
*/

/* News And Blog Start */

.blog-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.blog-box.style-1 .figure-box {
    border-radius: 5px;
}
.blog-box .figure-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.blog-box .figure-box a {
    display: block;
}

.blog-box .figure-box a {
    display: block;
}

.blog-box .figure-box img {
    -webkit-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blog-box.style-1 .content-box {
    border-radius: 0 5px 5px 5px;
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 10px;
    padding: 25px 20px;
    bottom: 0px;
    background-color: #ffffff;
    box-shadow: 0 0 90px 0 rgb(0 0 0 / 8%);
    margin-top: -100px;
}
.blog-box.style-1 .category-name {
    border-radius: 5px 5px 0 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    background-color: var(--color_primary);
    padding: 7px 14px;
}

.blog-box .category-name {
    font-size: 15px;
    font-family: var(--font_family_heading);
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog-box .content-box .title {
    font-weight: 500;
    margin-bottom: 14px;
}
.blog-box.style-1 .content-box .title a {
    color: var(--color_text_heading);
}
.blog-box .content-box .title a {
    color: var(--color_text_heading);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.entry-meta.inline-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.entry-meta li {
    font-size: 14px;
    color: #585858;
    margin-right: 15px;
    margin-bottom: 5px;
}

.entry-meta li i {
    margin-right: 7px;
}

.blog-box.style-2 .figure-box {
    border-radius: 10px;
}

.blog-box.style-2 .content-box {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 10px;
    padding: 25px 25px;
    bottom: 30px;
}

.blog-box.style-2 .category-name {
    margin-bottom: 5px;
}

.blog-box.style-2 .content-box .title {
    font-weight: 600;
}

.blog-box.style-2 .content-box .title a {
    color: #ffffff;
}

.blog-box.style-2 .content-box .entry-meta li {
    font-size: 16px;
    color: #ffffff;
}
.blog-box.style-1 .content-box .title {
    font-size: 24px;
    line-height: 1.4;
}

.blog-box.style-1 .figure-box img {
    height: 190px;
}

.view_all_button a.view_all_post_btn {
    background-color: var(--color_primary);
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
}

.view_all_button {
    text-align: center;
}

.blog-box.style-2 .figure-box::after {
    content: url(../media/element13.png);
    position: absolute;
    z-index: 0;
    bottom: -10px;
    left: 0;
    right: 0;
}

@media (max-width: 991px){
    .middle_card_box {
        display: none;
    }
}

.blog-box:hover .figure-box img {
    -webkit-transform: scale(1.12, 1.12);
    -ms-transform: scale(1.12, 1.12);
    transform: scale(1.12, 1.12);
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/* News And Blog End */


/* 
===========================
Testimonials Widget
===========================
*/

/* Testimonials Start */

.swiper-slide {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.testimonial-box.style-1 p.description {
    margin-bottom: 40px;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1.2px;
    color: #888;
}

.testimonial-box.style-1 .customer-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .testimonial-box.style-1 .customer-info .figure-box img {
    margin-right: 20px;
  }
  
  .testimonial-box.style-1 .customer-info .content-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .testimonial-box.style-1 .customer-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .testimonial-box.style-1 .customer-info .figure-box img {
    margin-right: 20px;
  }
  
  .testimonial-box.style-1 .customer-info .content-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .testimonial-box .figure-box img{
      border-radius: 50%;
  }

  .testimonial-box .title {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
  }
  
  .testimonial-box .designation {
    color: #7a7979;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    font-family: var(--font_family_heading);
  }

  .testimonial-box .testimonial-rating {
    color: #f5c415;
    font-size: 14px;
  }
  
  .testimonial-box .testimonial-rating li {
    margin-right: 5px;
  }
  
  .testimonial-box .testimonial-rating li:last-child {
    margin-right: 0;
  }

  .testimonial-box.style-1 .inline-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
  }
  

.arrow-icons {
    width: 100%;
    position: relative;
    margin-bottom: 65px;
}

button.arrow-indicator-right {
    position: absolute;
    right: 0;
    border-radius: 5px;
}

button.arrow-indicator-left{
    position: absolute;
    right: 60px;
    border-radius: 5px;
}

.arrow-icons {
    width: 100%;
    position: relative;
    margin-bottom: 65px;
    margin-right: 15px;
}

/* Testimonials Ends */

/* 
===========================
Single Course Banner Widget
===========================
*/

/* Single Course Banner Widget Start */

#course_video_player iframe{
    height: 100%;
    overflow: hidden;
}

/* Single Course Banner Widget End */


/* 
===========================
Instructor Archive Widget
===========================
*/

/* Instructor Archive Start */

.instructor-box.style-1 {
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 35px 0 rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 30px 20px 20px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
.instructor-box.style-1 .header-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.instructor-box.style-1 .figure-box {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 12px;
}

.instructor-box.style-1 .figure-box:before {
    border-radius: 10px 0 0 10px;
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 50%;
    background-color: var(--color_primary);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.instructor-box.style-1 .figure-box a {
    border-radius: 50%;
    display: inline-block;
}

.instructor-box.style-1 .figure-box img {
    border-radius: 50%;
}

.instructor-box.style-1 .content-box .title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

.instructor-box.style-1 .content-box .title a {
    color: var(--color_text_heading);
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.instructor-box.style-1 .content-box .designation {
    color: var(--color_primary);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.instructor-box.style-1 .content-box .qualification {
    color: #161616;
    font-size: 15px;
}

ul.rating.inline-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.instructor-box.style-1 .content-box .rating li {
    color: #faba1f;
    font-size: 15px;
    margin-right: 8px;
}

.instructor-box.style-1 .footer-content {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
}

.instructor-box.style-1 .footer-content .entry-meta {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.instructor-box.style-1 .footer-content .entry-meta li {
    font-size: 16px;
    color: #747474;
    font-family: var(--font_family_heading);
}
.instructor-box.style-1:hover {
    box-shadow: 0 0 35px 0 rgb(0 0 0 / 15%);
}
.instructor-box.style-1:hover .figure-box:before {
    width: 70%;
}

/* Instructor Archive End */

/* 
===========================
Course Archive Widget
===========================
*/

/* Course Archive Widget Start */

.post-type-archive-courses .tutor-notice-warning {
    display: none;
}

nav.course_archive_pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav.course_archive_pagination ul li a {
    color: var(--color_primary);
    font-weight: 500;
    padding: 8px 12px;
    border: solid 2px darkgray;
    font-size: 18px;
    margin: 5px;
    border-radius: 5px;
}

nav.course_archive_pagination ul li:hover a {
    color: white;
    background-color: var(--color_primary);
    border: solid 2px var(--color_primary);
}

.filter_panel {
    margin-top: 10px;
}

.filter_panel.row {
    box-shadow: 0 0 10px 0px #d0d0d0;
    border-radius: 10px;
    background-color: white;
    height: 0;
    overflow: hidden;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.form-check .form-check-label {
    margin-left: 10px;
}

.form-check input {
    margin-top: 6px;
}

.filter_block{
    position: relative;
}
.filter_toggle{
    padding: 15px 40px !important;
    height: auto !important;
    overflow: visible !important;
    margin-bottom: 20px;
}

.course_block {
    position: relative;
}

.loader_text {
    position: absolute;
    width: 10%;
    height: 100%;
    z-index: 9999;
    top: 50%;
    left: 48%;
    font-size: 28px;
    color: black;
    font-weight: 800;
}

.filter_block {
    margin-top: 40px;
}

.filter_panel_button {
    font-size: 18px !important;
    padding: 6px 40px !important;
}

span.course_count {
    left: 12px;
    font-size: 18px;
}
span.course_count b{
    color: #f8af12;
}
/* Course Archive Widget End */

/* 
===========================
Single Course Template
===========================
*/

/* Single Course Template Start */

.banner-info-style-1 {
    padding-bottom: 100px;
}

.banner-info-style-1 .content-box {
    margin-bottom: 30px;
    max-width: 550px;
    width: 100%;
}

.banner-info-style-1 .category-name {
    border-radius: 2px;
    margin-bottom: 20px;
    color: #7013f0;
    background-color: #f2e8ff;
    padding: 6px 28px;
    display: inline-block;
    font-size: 18px;
    font-family: var(--font_family_heading);
}

.banner-info-style-1 .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.3;
}

.banner-info-style-1 .description {
    margin-bottom: 30px;
}

.banner-info-style-1 .list-info li {
    margin-bottom: 10px;
    margin-right: 30px;
    color: var(--color_text_heading);
    font-family: var(--font_family_heading);
    font-size: 17px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner-info-style-1 .list-info li img {
    margin-right: 10px;
    border-radius: 50%;
}

.banner-info-style-1 .text-center {
    text-align: center!important;
}

.banner-info-style-1 .figure-box img {
    border-radius: 50%;
    height: 380px;
    width: 380px;
}

.banner-info-style-1 .inline-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.banner-info-style-1 .list-info li .list-rating li {
    margin-bottom: 0;
    font-size: 14px;
    color: #f5c415;
    margin-right: 5px;
}

.single_course_meta_box li img {
    width: 35px;
}

.banner-info-style-1 .figure-box .play-btn {
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    color: #ffffff;
    background-color: #373737;
    padding: 23px 42px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mfp-close:hover{
    background-color: unset;
}

.single_course_body {
    padding-top: 80px;
    padding-bottom: 50px;
}

.single_course_body h4.tutor-segment-title {
    font-size: 35px;
}

.tutor-single-course-sidebar span.woocommerce-Price-amount.amount bdi {
    font-size: 40px;
    color: black;
    font-weight: 800;
}

.tutor-single-course-sidebar .price {
    text-align: left;
    margin-bottom: 15px;
}

.single_course_side_block_1 {
    box-shadow: 0 0 4px 1px #c7c7c7;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.single_course_side_block_1 ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #6b6b6b;
    margin-bottom: 15px;
}

.single_course_side_block_1 ul li span {
    color: var(--color_text_heading);
    font-weight: 500;
    position: relative;
    z-index: 1;
    padding-left: 35px;
    display: inline-block;
}

.single_course_side_block_1 ul li span i {
    font-size: 22px;
    color: #646871;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 3px;
}
.single_course_side_block_1 ul{
    padding-left: 0;
}

span.course_cat {
    padding-left: 75px !important;
    float: right !important;
    color: #7b7b7b !important;
    font-weight: 400 !important;
}

.figure-box a.play-btn.popup-youtube:hover {
    background-color: black;
}

#single_sidebar_course_share span {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: black !important;
}

#single_sidebar_course_share {
    margin-top: 15px;
}

div#single_sidebar_course_share button.tutor_share {
    margin: 0 10px;
    padding: 8px 14px;
    border-radius: 50px;
}

div#single_sidebar_course_share button.tutor_share:focus {
    outline: 0;
}

div#single_sidebar_course_share button.s_facebook{
    border: solid 1px var(--facebook);
    background-color: var(--facebook);
}

div#single_sidebar_course_share button.s_twitter{
    border: solid 1px var(--twitter);
    background-color: var(--twitter);
}

div#single_sidebar_course_share button.s_linkedin{
    border: solid 1px var(--linkedin);
    background-color: var(--linkedin);
}

div#single_sidebar_course_share button.s_tumblr{
    border: solid 1px var(--tumblr);
    background-color: var(--tumblr);
}

div#single_sidebar_course_share button.tutor_share:hover{
    background-color: #ffffff;
}

div#single_sidebar_course_share button.s_facebook:hover i{
    color: var(--facebook);
}

div#single_sidebar_course_share button.s_twitter:hover i{
    color: var(--twitter);
}

div#single_sidebar_course_share button.s_linkedin:hover i{
    color: var(--linkedin);
}

div#single_sidebar_course_share button.s_tumblr:hover i{
    color: var(--tumblr);
}

.widget-course-category ul li {
    margin-top: 5px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    font-family: var(--font_family_heading);
}
.widget-course-category ul li a {
    line-height: 35px;
    display: block;
    color: var(--color_text_heading);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.widget-course-category ul li a span {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    color: #6b6b6b;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget-course-category ul li a:hover {
    color: var(--color_primary);
}

.widget-section-heading .widget-title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}

.widget-related-course ul > li {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.widget-related-course ul > li .left-box {
    display: inline-block;
    max-width: 100px;
    width: 100%;
    border-radius: 5px;
}
.widget-related-course ul > li .left-box .item-figure {
    display: block;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget-related-course ul > li .left-box .item-figure img {
    border-radius: 5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget-related-course ul > li .media-body {
    margin-left: 15px;
}

.widget-related-course ul > li .price {
    color: var(--color_primary);
}

.widget-related-course ul > li .entry-title {
    line-height: 22px;
    line-height: 1.3;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.widget-related-course ul > li .entry-title a {
    color: var(--color_text_heading);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single_course_side_block_1 button.tutor-button:focus-visible, div#single_sidebar_course_share button.tutor_share:focus-visible {
    outline-color: unset;
}

.single_banner_style_1{
    background-color: #edf6ff;
}
.single_banner_style_2{
    background-color: var(--color_primary);
}

.single_banner_style_2 .single_course_breadcrum a, .single_banner_style_2 .single_course_breadcrum, .single_banner_style_2 .title, .single_banner_style_2 .content-box p, .single_banner_style_2 .list-info li{
    color: #ffffff;
}

.single_banner_style_3{
    background-color: #fff;
}

.single_banner_style_3 .single_course_breadcrum {
    background-color: #ebf4fd;
}
.single_course_breadcrum{
    padding: 40px;
}
/* Single Course Template End */

/* 
===========================
Course Archive Style 2
===========================
*/

/* Course Archive Style 2 Start */

.course_archive_style_2 .course-box.style-2 {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.course_archive_style_2 .course-box.style-2 .figure-box {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.course_archive_style_2 .course-box.style-2 .figure-box img {
    border-radius: 10px 10px 0 0;
    -webkit-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.course_archive_style_2 .course-box.style-2 .content-box {
    position: relative;
    z-index: 1;
    padding: 35px 20px 20px;
}

.course_archive_style_2 .course-box.style-2 .content-box .admin-figure {
    position: absolute;
    z-index: 1;
    border: 2px solid #ffffff;
    top: -30px;
    right: 30px;
    border-radius: 50%;
}

.course_archive_style_2 .course-box.style-2 .content-box .price {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--font_family_heading);
    color: var(--color_primary);
}

.course_archive_style_2 .course-box.style-2 .content-box .rating {
    margin-right: 17px;
    color: var(--color_text_heading);
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font_family_heading);
}

.course_archive_style_2 .course-box.style-2 .content-box .rating i {
    color: #f5c415;
    margin-right: 5px;
}
.course_archive_style_2 .course-box.style-2 .content-box .teacher-name {
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_family_heading);
    margin-bottom: 10px;
}

.course_archive_style_2 .course-box.style-2 .content-box .teacher-name a {
    color: #8d8d8d;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.course_archive_style_2 .course-box.style-2 .content-box .title {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 24px;
    line-height: 1.4;
}

.course_archive_style_2 .course-box.style-2 .content-box .title a {
    color: var(--color_text_heading);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.course_archive_style_2 .course-box.style-2 .content-box .course-feature li {
    margin-right: 20px;
    font-size: 16px;
}

.course_archive_style_2 .course-box.style-2 .content-box .course-feature li i {
    margin-right: 8px;
    color: var(--color_text_body);
}

.course_archive_style_2 .course-box.style-2 .content-box .course-feature li:last-child {
    margin-right: 0;
}

.course_archive_style_2 .course-box.style-2 .content-box .admin-figure a img.tutor-image-avatar {
    height: 55px;
    width: 55px;
    border-radius: 50px;
}

.course_archive_style_2 .course-box.style-2 .content-box ul.inline-list.course-feature {
    list-style: none;
    display: flex;
    padding: 0;
}

.course_archive_style_2 .course-box.style-2 .content-box ul li a.details_style-2 {
    font-weight: 600;
    color: var(--color_primary);
}
.course_archive_style_2 .course-box.style-2 .content-box ul li a.details_style-2:hover{
    color: var(--color_secondary);
}

.course_archive_style_2 .teacher-name a h4.instructor_name.instructor-title {
    color: #8d8d8d;
    font-weight: 400;
}

.course_archive_style_2 .teacher-name a h4.instructor_name.instructor-title::before {
    content: "Instructor -";
    font-weight: 600;
}

.archive.course_block {
    width: 100%;
}

.course_archive_style_2 .course-box.style-2:hover .figure-box img {
    -webkit-transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
}

.archive_block_full_page {
    padding: 0 !important;
    margin: 0;
}

.archive_block_full_page .ajax-loader {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #000000a1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.archive_block_full_page .ajax-loader img {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.empty_course_alert{
    width: 100%;
}

.archive_style_3_and_4 {
    margin-top: 80px;
}

.archive_style_3_and_4 span.course_count{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* Course Archive Style 2 End */

/* 
===========================
Course Archive Style 3 & 4
===========================
*/

/* Course Archive Style 3 & 4 Start */

.card.course_side_filter {
    width: 100%;
    margin: 10px 25px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0px #a6a6a6;
    border: unset;
    padding: 0 25px;
}

.course_archive_style_4 img.course_thumbnail_image {
    padding: 0;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.course_archive_style_4 .front_excerpt p {
    padding-left: 15px;
}
.course_archive_style_4 .course_lesson_details .course-feature {
    padding-left: 15px;
}
.course_archive_style_4 .instructor_name{
    font-weight: 800;
    margin-top: -5px;
}

.course_archive_style_4 ul.course_back_face.course-feature li a img.tutor-image-avatar {
    width: 35px;
    border-radius: 50px;
}

.course_archive_style_4 ul.course_footer_style_4 {
    list-style: none;
    display: flex;
    padding: 0;
}

.course_archive_style_4 ul.course_footer_style_4 li {
    margin-right: 50px;
}

.course_archive_style_4 .card_backend .course_back_face.course-feature{
    padding: 0 15px;
}

.course_archive_style_4 h5.back_course_category.course_back_face {
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
}

.course_archive_style_4 .card-body.back.course_back_face{
    padding: 2.50rem;
}

.course_archive_style_4 h5.back_course_category.course_back_face::before {
    content: "--";
}

.course_archive_style_4 ul.course_footer_style_4 li .course_fee {
    font-size: 25px;
    font-weight: 800;
}

.single_course_breadcrum {
    color: #9e9e9e;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.single_course_breadcrum a {
    font-weight: 600;
}

.load_more_button button.load_more_btn {
    padding: 10px 50px;
    border-radius: 50px;
    background-image: linear-gradient(45deg, #0071dc, #ed00ff);
}

.load_more_button {
    margin: 40px;
}

button.load_more_btn:focus {
    outline: 0;
}

button.load_more_btn:hover {
    background-image: linear-gradient(45deg, #004b92, #ac00b9);
}

.tutor-notice-warning {
    display: none;
}


.tutor_addons_course-wish-list i{
    color: white;
    background-color: #de003f;
    border: solid 1px #de003f;
    padding: 10px;
    border-radius: 50px;
}
.tutor_addons_course-wish-list i:hover{
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
}

.has-wish-listed i {
    background-color: white;
    color: #de003f;
}
/* Course Archive Style 3 & 4 End */

/* 
===========================
Single Course Enroll
===========================
*/

/* Single Course Enroll Start */

.tutor-addons_single_course_enroll_box .tutor-single-lesson-segment.tutor-lesson-video-wrap {
    display: none;
}

.tutor-addons_single_course_enroll_box .tutor-single-course-segment.tutor-course-material-includes-wrap {
    display: none;
}

/* Single Course Enroll End */


/* 
===========================
Sign Up Template
===========================
*/

/* Sign Up template Start */

.tutor_addon_signUp {
    background-image: linear-gradient(45deg, #a80e72,  #0f28a2, #cf1484);
    border-radius: 10px;
    box-shadow: 0 0 13px 0 black;
}

.tutor_addon_signUp .sign_up_form {
    background: white;
    margin: 70px 0;
    padding: 22px;
    border-radius: 10px;
}

.tutor_addon_signUp .sign_up_form input {
    height: 40px;
}

.tutor_addon_signUp button.tutor-button{
    width: 100%;
    display: block !important;
}

.image_animation img {
    transform: rotatey(180deg);
}

/* Sign Up template End */

/* Video Modal Start */

#single_course_video_modal .modal-dialog {
    max-width: 800px !important;
}

#single_course_video_modal iframe#video {
    width: 100%;
    height: 100%;
}
#single_course_video_modal .modal-content {
    height: 500px !important;
}
.embed-responsive.embed-responsive-16by9 {
    height: 100%;
}

#single_course_video_modal .modal-body {
    padding: 0;
}

.video_play_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 50px;
    border-radius: 15px !important;
}


.video_play_button i.fas.fa-play {
    font-size: 25px;
}

.banner-info-style-1 .figure-box {
    position: relative;
}

/* Video Modal End */

